.dataTables_wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.spinner-container img {
  display: block;
  margin: 10px auto 10px auto;
}
.dataTable {
  width: 100%;
  clear: both;
  border-collapse: collapse;
}

.datatable .user-id {
  font-weight: bold;
}

.dataTable a {
    text-decoration: none!important;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
  cursor: pointer;
  *cursor: hand;
}
table.dataTable thead .sorting {
  background-image: url("datatables-1.10.4/media/images/sort_both.png");
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting_asc {
  background-image: url("datatables-1.10.4/media/images/sort_asc.png");
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting_desc {
  background-image: url("datatables-1.10.4/media/images/sort_desc.png");
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("datatables-1.10.4/media/images/sort_asc_disabled.png");
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("datatables-1.10.4/media/images/sort_desc_disabled.png");
  background-repeat: no-repeat;
  background-position: center right;
}
table.dataTable tbody tr.selected {
  background-color: #b0bed9;
}

table.dataTable thead th {
  white-space: nowrap;
}
.dataTables_filter,
.dataTables_length {
  margin: .5em 0;
}
.dataTables_filter {
  float: right;
}
.dataTables_length {
  float: left;
}
.dataTables_info {
  float: left;
}
.dataTables_paginate {
  float: right;
}
.dataTables_paginate a {
  display: inline-block;
  margin: 0 3px;
}
.dataTables_paginate a:hover {
  cursor: pointer;
  color: blue;
}

table.dataTable tr.group td {
  background: #EDF8FA;
  font-weight: bold;
  color: black;
}

.paginate_button.next:after {
  content: " >";
}
.paginate_button.previous:before {
  content: "< ";
}

.dataTables_processing {
  padding: .5em;
  float: right;
  color: #428be1;
}

.dataTable td {
    border-bottom: 1px solid #ddd;
}

table.dataTable td.sorting_1 {
  padding: .5em;
}

a.revoke-roles {
  display: inline-block;
  margin-left: 1px;
  color: gray;
  text-decoration: none;
}
a.revoke-roles:hover {
  color: black;
  text-decoration: none;
}

.filters {
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid #B6B6B6;
  background: #f2f2f2;
  overflow: hidden;
}
.filters h2,
form h2 {
  padding: 0!important;
  background: none!important;
  border: 0!important;
}
.filters input[type="text"],
.filters select {
  font-size: 13px;
  line-height: 18px;
  height: 24px;
  padding: 3px;
}
.form-group:before,
.form-group:after {
  display: table;
  content: "";
}
.form-group:after {
  clear: both;
}
.form-group {
  margin-bottom: 1em;
  width: 100%;
}
.form-group label {
  width: 92px;
  padding-right: 12px;
  float: left;
  text-align: right;
  line-height: 30px;
}
.form-group .select2-container {
  width: 600px;
  float: left;
  margin: 0!important;
}
.select2-drop {
  font-size: smaller;
}
.form-group .select2-container ul {
  margin: 0!important;
}
.form-indent {
  margin-left: 104px;
}
input[type="submit"] {
  background: #3065a6;
  background-image: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #428be1), color-stop(100%, #3065a6));
  background-image: -webkit-linear-gradient(#428be1, #3065a6);
  background-image: -moz-linear-gradient(#428be1, #3065a6);
  background-image: -o-linear-gradient(#428be1, #3065a6);
  background-image: linear-gradient(#428be1, #3065a6);
  border: 1px solid #3065a6;
  border-radius: 3px;
  font-size: small;
  color: #fff;
  text-shadow: 0 -1px 0 #3065a6;
}
.filters .actions {
  margin: 15px 0 0 102px;
}

.filters-eu {
  padding: .5em;
  float: left;
}

.filters a,
.filters-eu a{
  text-decoration: underline;
  color: #2a6495;
}

.filters a:hover,
.filters-eu a:hover {
  cursor: pointer;
}

/* NEW STUFF */

/* CLEARFIX */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* HELPERS */
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

/* TABLE */

.table {
    border-collapse: collapse;
    width: 100%;
}
.table a {
    text-decoration: none!important;
}

/* SIMPLE TABLE */
.simple_table {
  border-collapse: collapse;
  width: 100%;
  font-size: inherit;
  background-color: transparent!important;
}
.simple_table th {
  font-weight: normal;
  font-size: smaller;
  color: gray;
}
.simple_table td,
.simple_table th {
  border-right: 0;
  padding: 5px 2px;
  text-align: left;
  vertical-align: top;
}
.simple_table tbody td,
.simple_table tbody th {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background-color: transparent;
}
/* hr */
hr {
  margin: 12px 0;
  border: 0;
  height: 1px;
  background: #ddd;
}

/* TABLE LIST */
  .table-list {
    font-size: inherit;
    background-color: transparent!important;
    margin: 12px 0;
    border-collapse: collapse;
    text-align: left;
  }
  .table-list caption {
    text-align: left;
  }
  /* Add tbody td first, last separator */
  .table-list > tbody > tr {
    border-bottom: 1px dotted #ddd;
  }
  .table-list > tbody > tr:last-child {
    border-bottom: 0;
  }
  .table-list th,
  .table-list td {
    border-right: 0!important; /* override screen.css */
    border-left: 0!important;
    padding: 6px 6px;
    vertical-align: top;
  }
  .table-list th:first-child,
  .table-list td:first-child {
    padding-left: 12px;
  }
  .table-list th:last-child,
  .table-list td:last-child {
    padding-right: 12px;
  }
  .table-list tbody th {
    color: #666;
    text-align: right;
    font-size: smaller;
    font-weight: normal;
  }
  .table-list tbody td {
    font-weight: bold;
  }


/* BUTTON */
.btn {
    display: inline-block;
    line-height: 1;
    padding: 2px 4px;
    border: 1px solid;
    vertical-align: baseline;
    border-radius: 3px;
}
.btn input {
    margin-left: 0;
}
.btn:hover {
    cursor: pointer;
}

.btn-default {
    border-color: #ccc;
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
}

/* COMPANY */
.company {
    padding: 1em;
    background: #FFF9DF;
    border: 1px solid #ffcf6c;
    margin-bottom: 1em;
}
.company-header {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ddd;
}
.company-header h3 {
    margin: 0;
    padding: 0!important;
    border: 0!important;
    background: transparent!important;
}
.company-header .btn {
    margin-right: .5em;
}

/* DL details */
.details dt {
    float: left;
    clear: left;
    width: 9em;
    font-weight: normal;
    color: gray;
    text-align: right;
}
.details dt:after {
    content: ":";
}
.details dd {
    margin-left: 10em;
    margin-bottom: .5em;
}
.details dd, .details dt {
  line-height: inherit;
}

.temp-warning {
 color: #954549;
}
.temp-warning a {
    color: #954549;
}
/* LEGEND */
.legend {
  margin: 1em 0;
}
.legend dl {
  margin: 0;
  padding: 0;
}
.legend dt,
.legend dd {
  float: left;
}
.legend dt {
  margin: 0;
}
.legend dd {
  margin: 0 18px 0 6px;
}
.legend strong {
  display: block;
  margin-right: 18px;
  float: left;
}
.legend strong:after{
  content: ":";
}
.badge {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 3px;
    vertical-align: middle;

}
.match {
    background-color: #954549
}

.utilities-controls {
  text-align: right;
}

.utilities-controls a {
  text-decoration: none;
}

.info-message {
  overflow: hidden;
  padding: 10px 0 0 0;
}

.im-message {
  margin-left: 10px;
  float: left;
}

.im-controls-left {
  float: left;
}

.im-controls-right {
  float: right;
}

.im-control {
  text-decoration: none;
}

.im-open {
  position: absolute;
}

.bg-visible {
  padding: 10px 10px 10px 0;
  border: 1px solid #B6B6B6;
}

.bg-info {
  background-color: #d9edf7;
}

.bg-success {
  background-color: #dff0d8;
}

.bg-warning {
  background-color: #fcf8e3;
}

.bg-danger {
  background-color: #f2dede;
}

.filters-content {
  display: table;
  margin: 0 auto;
}

.search-type-controls {
  display: table-cell;
  margin-right: 20px;
}

.search-box {
  display: table-cell;
  vertical-align: middle;
}

.search-radios {
  font-size: 13px;
  margin-right: 20px;
}

tr.user-disabled {
  /* Modern Browsers */
  opacity: 0.5;
  /*IE*/
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
  filter: alpha(opacity=50); // IE 5-7
}

#assign-roles-form tr.user-disabled {
  display: none;
}

.results-table {
  overflow: auto;
}

.tabbedmenu {
  float: left;
  width: 100%;
  background: url("https://www.eionet.europa.eu/styles/eionet2007/tab_bg.png") bottom repeat-x;
  font-size: 0.9em;
  line-height: normal;
}

.tabbedmenu .currenttab {
  background-image: url("https://www.eionet.europa.eu/styles/eionet2007/tab_left_on.png");
  border-bottom: 3px solid #cedc32;
}

.tabbedmenu li {
  float: left;
  background: url("https://www.eionet.europa.eu/styles/eionet2007/tab_left.png") no-repeat left top;
  border-bottom: 3px solid #315076;
  margin: 0;
  padding: 0 0 0 6px;
  white-space: nowrap;
}

.tabbedmenu ul {
  margin: 0;
  padding: 0px 10px 0 10px;
  list-style: none;
}

.tabbedmenu .currenttab span,
.tabbedmenu .currenttab a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    background: url("https://www.eionet.europa.eu/styles/eionet2007/tab_right_on.png") no-repeat right top;
    padding: 3px 8px 2px 0px;
}

.tabbedmenu a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background: url("https://www.eionet.europa.eu/styles/eionet2007/tab_right.png") no-repeat right top;
    padding: 3px 8px 2px 0px;
}

.tabbedmenuend {
  clear: left;
}

.hidden-content {
  display: none;
}

.fb-info {
  color: deepskyblue;
}

.fb-blocker {
  color: red;
  font-weight: bold;
}

.fb-error {
  color: red;
}

.fb-warning {
  color: orange;
}

.fb-status {
  font-weight: bold;
}

#detailed-qa .fb-listing {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
  margin-bottom: 0.5em;
}

.checkbox-column {
  width: 20px;
}

#workarea .disabled_members ul {
  margin: 0 0 0 1.5em;
}

.batch-size-ctl {
  float: right;
}

.df-btn {
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: small;
}

.text-input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 1px solid #aaa;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#path_filter {
  width: 200px;
}

.total-dflow-results {
  position: absolute;
  left: 50%;
}

.overflow {
  overflow: hidden;
}

.no-borders {
  border: 0!important;
}

.box-small {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  background: #f6f6f6;
}

.org-actions {
  margin-left: 24px;
}

.org-actions .h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 12px;
}

#workarea ul.unstyled-list {
  list-style: none;
  list-style-image: none;
}
